{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap css style-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- Bootstrap css style-->
		<title>{%block title%}{%endblock%}</title>
		{% block header_extends %}{% endblock %} <!-- for css extension-->
</head>

<body>
	<div class="jumbotron" style="background-color:black">
 	 	<h1 style="color:white">Li Jie Su's Blog </h1>
	</div>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid bg-info">
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link active text-white" href="/">Home</a>
		  </li>
		  <li class="nav-item text-white">
		    <a class="nav-link text-white" href="/resume">Resume</a>
		  </li>
		  <li class="nav-item text-white">
		    <a class="nav-link text-white" href="#">Album</a>
		  </li>
		  <li class="nav-item dropdown text-white ">
		  	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		  	Posts 
		  	</a>
		  	<div class="dropdown-menu text-center">
		  		<a class="dropdown-item" href="#"> Capstone Research </a>
		  		<a class="dropdown-item" href="#"> Coding </a>
		  		<a class="dropdown-item" href="#"> Miscellaneous</a>
		  	</div>
		  </li> 

		  <!--
		  <li class="nav-item text-white">
		    <a class="nav-link text-white" href="#"> </a>
		  </li> 
			--> 
		  <!-- just copy from here to extend link bar--> 
		</ul>
	  </div>
	</nav>



	{% block content %}{%endblock%}

 
<div id="bottomJumbo" class="jumbotron justify-content-start">
   <br>Contact information<br>Email: opwinopwin@gmail.com</p>
</div>

	<!--Bootstrap java scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>