{% extends "base.html" %}
{% load static %}

{%block title%}Home page{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>About author</h2>

      <div><img src={% static 'me.png'%} width=200 height=200 ></div>
      <p>I am Li Jie Su, I come from Taiwan. <br>
        I love coding, cooking and video games!This is my first blog.<br>
        I built it with Django and Bootstrap.<br>
      </p>
      <h3>Links</h3>
      <ul class="active font-weight-bold">
        <li class=""><a href="https://github.com/LiJieSu-Jerry/-Portfolio" target="_blank" >Github</a></li><br>
        <li><a href="https://www.linkedin.com/in/lzsu/" target="_blank">LinkedIn</a></li><br>
      </ul>
      
    </div>
    <div class="col-sm-9">
      <p class="font-weight-bold h1" style="font-size: 50px">
        Your ip is {{ip}}<br>
        {{message}}<br>
        The total traffic of this website is {{traffic}}<br>
        The number of posts is {{post_list|length}}<br>
        Your IP Location is {{region}}, {{country}}<br>
        Welcome to Li Jie Su's blog! <br>
        Some content is still building <br>
        Feel free to look around! <br> 
      </p>
      <hr>
      <h2>You may want to see...</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <p>
              The new coding posts!
            </p>
          </div>
          <div class="col-sm-3">
                        <p>
              My capstone research!
            </p>
          </div> 
          <div class="col-sm-3">
                        <p>
              or Miscellaneous?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

