{% extends "base.html" %}
{% load static %}

{%block title%}Resume{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>About author</h2>

      <div><img src={% static 'me.png'%} width=150 height=200 ></div>
      <p>I am Li Jie Su, I come from Taiwan. <br>
        I love coding, cooking and video games!
        This is my first blog.
        I built it with Django and Bootstrap.Feel free to look around!
      </p>
      <h3>Links</h3>
      <ul class="">
        <li class="active"><a href="https://github.com/LiJieSu-Jerry/-Portfolio" target="_blank">Git hub</a></li><br>
        <li><a href="https://www.linkedin.com/in/lzsu/" target="_blank">LinkedIn</a></li><br>
      </ul>
      
    </div>
    <div class="col-sm-9">
		  <embed src={% static "LijieSu.pdf"%} width="800px" height="1190px">
    </div>
  </div>
</div>

{% endblock %}